/* Google Fonts: */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic);

/* Reset: */
a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,iframe,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline}html{font-size:62.5%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{background:#fff}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,td,th{font-weight:400;text-align:left}blockquote:after,blockquote:before,q:after,q:before{content:""}blockquote,q{quotes:"" ""}a:focus{outline:dotted thin}a:active,a:hover{outline:0}a img{border:0}

html, body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

body {
	padding: 0;
}

#page {
	width: 960px;
	margin: auto;
}

#startWrapper {
	height: 100vh;
}

#startContent {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

h1 {
	font-size: 100pt;
	color: #74b3e1;
	height: 22vh;
}

h1 #cc {
	font-style: italic;
	color: #3e7095;
	font-weight: 300;
}

h2, h2 a {
	font-size: 24pt;
	color: #74b3e1;
	text-decoration: none;
	height: 8vh;
}

h2 a {
	color: #3e7095;
	font-weight: 400;
}

#startContent p {
	font-size: 44pt;
	padding-bottom: 15px;
	line-height: 130%;
	height: 10vh;
}

#green {
	color: #8db63f;
}

#brown, #brown a {
	color: #9a8330;
	text-decoration: none;
}

#brown a {
	background: #e8e1ca;
	border-radius: 5px;
	display: inline-block;
	padding: 0 10px 0 10px;
	margin: 5px 0 5px 0;
}

#grey, #grey a {
	color: #fff;
	text-decoration: none;
}

#grey a {
	background: #828282;
	border-radius: 5px;
	display: inline-block;
	padding: 0 10px 0 10px;
	margin: 5px 0 5px 0;
}

#resultsWrapper {
}

#resultsContent {
	font-size: 28pt;
}

#resultsContent p {
	padding-top: 50px;
}

#resultsContent ul {
	margin-top: 50px;
}

#resultsContent li {
	padding-left: 60px;
	padding-top: 5px;
	list-style: disc inside;
}

#bold {
	font-weight: 400;
}

#resultsMain {
}

#reset a {
	text-decoration: none;
	color: black;
	background-color: rgba(0,0,0,0.1);
	padding: 5px 10px;
	border-radius: 5px;
}

/* Custom dropdown: */

.styled-select select {
	color: #9a8330;
	background: #e8e1ca;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 44pt;
	border: 0;
	display: inline-block;
	padding: 0 10px 0 10px;
	margin: 0;
	border-radius: 5px;
	-webkit-appearance: none;
	outline: 0;
}

.styled-select option {
	font-weight: 300;
	font-size: 44pt;
}

.styled-select input {
	font-size: 44pt;
	font-weight: 300;
	color: #9a8330;
	background: #e8e1ca;
	font-family: 'Open Sans', sans-serif;
	border: 0;
	border-radius: 5px;
	padding: 0 10px 0 10px;
	transition: width 0.25s;
	max-width:99.99%!important;
	min-width:50px!important;
	display: inline-block;
}

.hidden-width {
	position: absolute;
	left: -10000px;
}

#locationInput {
	width: 320px;
}

#colophon {
	display: block;
	position: absolute;
	width: 100%;
	height: 25px;
	background: rgb(240,240,240);
	font-size: 10pt;
	text-align: right;

}

#colophon p {
	padding-right: 10px;
	padding-top: 3px;
}

#colophon a {
	color: black;
	text-decoration: none;
	font-weight: 400;
}
